<div class="subtitle" *ngIf="showForm">
    <span >{{page.subtitle}}</span>
</div>
<!------------FORM section start------------>
<form [formGroup]="formGroup"  *ngIf="showForm" >
    <div class="row p-formgrid p-grid mt-0 mt-md-3 p-2 p-md-0">
        <div class="row m-0 p-0">
            <div class="col-md-6 col-12">
                <label class="mb-2">{{page.old_password.label}}</label>
                <p-password formControlName="oldPassword"
                        [feedback]="false"
                        [maxlength]="20"
                        [minlength]="3"
                        [ngClass]="{'ng-dirty ng-invalid': formGroup.controls['oldPassword'].touched && formGroup.controls['oldPassword'].invalid}"
                        [toggleMask]="true">
                </p-password>
                <small class="p-error" *ngIf="formGroup.controls['oldPassword'].touched && formGroup.controls['oldPassword'].errors?.['required']">{{page.old_password.required_error}}</small>
                <small class="p-error" *ngIf="formGroup.controls['oldPassword'].touched && formGroup.controls['oldPassword'].errors?.['minlength']">{{page.old_password.minimun_error}}</small>
            </div>
        </div>
        <div class="col-md-6 col-12 mt-4">
          <label class="mb-2">{{page.password.label}}</label>
          <p-password formControlName="changePassword"
            [feedback]="false"
            [maxlength]="20"
            [minlength]="3"
            [ngClass]="{
                'ng-dirty ng-invalid': formGroup.controls['changePassword'].touched && formGroup.controls['changePassword'].invalid,
                'check-icon': isLowercaseValid() && isUppercaseValid() && isNumericValid() && isLengthValid(),
                'cross-icon': !isLowercaseValid() || !isUppercaseValid() || !isNumericValid() || !isLengthValid()
            }"
            [toggleMask]="true"(click)="onPasswordInputClick()"
            (blur)="onPasswordInputBlur()">
          </p-password>

          <!-- Mensajes dinámicos para validar contraseña -->
          <ul class="pl-2 ml-2 mt-2" style="line-height: 1.5" *ngIf="clickedPasswordInput || passwordInputBlurred">
            <li [ngClass]="{'text-success': isLowercaseValid(), 'text-danger': !isLowercaseValid()}">Al menos una minúscula</li>
            <li [ngClass]="{'text-success': isUppercaseValid(), 'text-danger': !isUppercaseValid()}">Al menos una mayúscula</li>
            <li [ngClass]="{'text-success': isNumericValid(), 'text-danger': !isNumericValid()}">Al menos un número</li>
            <li [ngClass]="{'text-success': isLengthValid(), 'text-danger': !isLengthValid()}">Mínimo 8 caracteres</li>
            <li [ngClass]="{'text-success': isSpecialCharacterValid(), 'text-danger': !isSpecialCharacterValid()}">Al menos un carácter especial</li>
          </ul>
        </div>
        <div class="col-md-6 col-12 mt-4">
            <label class="mb-2">{{page.confirm_password.label}}</label>
            <p-password formControlName="confirmPassword"
                        [feedback]="false"
                        [maxlength]="20"
                        [minlength]="3"
                        [ngClass]="{'ng-dirty ng-invalid': formGroup.controls['confirmPassword'].touched && formGroup.controls['confirmPassword'].invalid}"
                        [toggleMask]="true">
            </p-password>
            <small class="p-error" *ngIf="formGroup.controls['confirmPassword'].touched && formGroup.controls['confirmPassword'].errors?.['required']">
                {{page.confirm_password.required_error}}
            </small>
            <small class="p-error" *ngIf="formGroup.controls['confirmPassword'].touched && formGroup.controls['confirmPassword'].errors?.['confirmedValidator']">
                {{page.confirm_password.match_error}}
            </small>
        </div>
    </div>
</form>
<!------------FORM section end------------>
<div class="submit"  *ngIf="showForm">
    <button pButton pRipple [label]="page.save_button" class="p-button-text" [disabled]="!isPasswordValid() || !buttonIsEnabled" (click)="refreshToken()"></button>
</div>
