@import '../../../../../../assets/styles/constants/fonts.scss';
@import '../../../../../../assets/styles/constants/colors.scss';

.subtitle{
    color: $newtoms-primary-font-color;
    text-align: center;
    font-family: $newtoms-bold-fonts;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 14px;
    margin-top: 14px;
    padding-bottom: 20px;
}

.submit{
    text-align: end;
    padding-top: 10px;
    margin-top: 5px;
}

label{
    color: $newtoms-primary-font-color;
    font-family: $newtoms-bold-fonts;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
