@import "../assets/styles/constants/colors.scss";


.main-layout{
    display: flex;
    color: $newtoms-primary-font-color;
    .main{
        padding-left: 80px;
        width: 100%;
        min-height: 100vh;
        .navbar{
            height: 90px;
            width: 100%;
            background-color: $newtoms-primary-color;
            padding: 0px;
        }
        .content{
            padding: 24px;
            background-color: $newtoms-background-color;
            min-height: calc(100vh - 80px);
        }
    }

}
.main-disconnect{
  padding: 0px !important;
}

.reconnect-btn {
  background: transparent !important;
  border: 2px solid #00923f !important;
  color: #00923f !important;
  font-weight: bold;
  width: 150px;
  margin: 0 auto;
  display: block;
  border-radius: 12px !important;
  transition: background 0.2s, color 0.2s;

  &:hover, &:focus {
    background: #00923f !important;
    color: #fff !important;
  }
}

@media only screen and (max-width: 1024px) {

    .main-layout .main{
        padding-left: 0px;
        .content{
            padding: 10px 16px 0 16px !important;
        }
    }

}
